<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.udacity.gradle.builditbigger">

    <!-- Include required permissions for Google Mobile Ads to run -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/hilarity_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data android:name="firebase_analytics_collection_enabled"
            android:value="true" />


        <activity
            android:name=".collections.CollectionActivity"
            android:label="@string/genres"
            android:theme="@style/AppTheme">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".MainActivity" /> -->
        </activity>
        <activity
            android:name=".jokes.JokesActivity"
            android:label="@string/jokes_list"
            android:parentActivityName=".collections.CollectionActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".collections.CollectionActivity" />
        </activity>
        <activity
            android:name=".post.PostActivity"
            android:label="@string/jokes_list"
            android:parentActivityName=".jokes.JokesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".jokes.JokesActivity" />
        </activity>
        <activity
            android:name=".mainUI.HilarityActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main22"
            android:parentActivityName=".mainUI.HilarityActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".cloudMessaging.HilarityFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".cloudMessaging.HilarityJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".postScheduling.ScheduledPostJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
            android:name=".signInOnboarding.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true" />
        <activity
            android:name=".signInOnboarding.userName.UserNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_user_name"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".messaging.sentMessages.MessagesActivity" />
        <activity
            android:name=".messaging.transcripts.TranscriptActivity"
            android:parentActivityName=".messaging.sentMessages.MessagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messaging.sentMessages.MessagesActivity" />

            <intent-filter>
                <action android:name="com.udacity.gradle.builditbigger.ACTION_MESSAGE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".messaging.composeMessage.ComposeMessageActivity"
            android:parentActivityName=".messaging.sentMessages.MessagesActivity" />
        <activity android:name=".newPost.documentPost.TextPostSubmissionActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".comments.CommentActivity" />
        <activity
            android:name=".subscribersSubsrciptions.SubsActivity"
            android:parentActivityName=".mainUI.HilarityActivity" />
        <activity
            android:name=".signInOnboarding.AuthActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newPost.NewPostActivity2"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".forums.replies.ForumQuestionActivity" />
        <activity
            android:name=".forums.createQuestion.NewQuestionActivity"
            android:parentActivityName=".mainUI.HilarityActivity" />

        <receiver
            android:name=".cloudMessaging.NotifcationMessageReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".settings.userSettings.UserSettingsActivity"
            android:label="@string/title_activity_user_settings"
            android:parentActivityName=".settings.SettingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.gradle.builditbigger.settings.SettingsActivity" />
        </activity>
        <activity android:name=".settings.notificationSettings.NotificationSettingsActivity" />
        <activity android:name=".settings.contentCreatorSettings.ContentCreatorActivity" />
        <activity android:name=".settings.paymentSettings.PaymentActivity" />
        <activity android:name=".newPost.visualMediaPost.VisualMediaPostActivity" />
        <activity android:name=".newPost.audioMediaPost.AudioMediaPostSubmissionActivity" />
        <activity android:name=".newPost.visualMediaPost.VisualMediaPostSubmissionActivity" />
        <activity android:name=".reportPost.ReportActivity" />
        <activity android:name=".signInOnboarding.profilePicture.ProfilePictureActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>