<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.udacity.gradle.builditbigger">

    <!-- Include required permissions for Google Mobile Ads to run -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/hilarity_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".Collections.CollectionActivity"
            android:label="@string/genres"
            android:theme="@style/AppTheme">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".MainActivity" /> -->
        </activity>
        <activity
            android:name=".Jokes.JokesActivity"
            android:label="@string/jokes_list"
            android:parentActivityName=".Collections.CollectionActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Collections.CollectionActivity" />
        </activity>
        <activity
            android:name=".Post.PostActivity"
            android:label="@string/jokes_list"
            android:parentActivityName=".Jokes.JokesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Jokes.JokesActivity" />
        </activity>
        <activity
            android:name=".MainUI.HilarityActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main22"
            android:parentActivityName=".MainUI.HilarityActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".CloudMessaging.HilarityFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".CloudMessaging.HilarityFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".CloudMessaging.HilarityJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".SignInTutorial.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true" />
        <activity
            android:name=".SignInTutorial.UserNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_user_name"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity android:name=".Messaging.SentMessages.MessagesActivity" />
        <activity
            android:name=".Messaging.Transcripts.TranscriptActivity"
            android:parentActivityName=".Messaging.SentMessages.MessagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Messaging.SentMessages.MessagesActivity" />

            <intent-filter>
                <action android:name="com.udacity.gradle.builditbigger.ACTION_MESSAGE" />
            </intent-filter>
        </activity>
        <activity android:name=".NewPost.NewPostActivity" />
        <activity
            android:name=".Messaging.ComposeMessage.ComposeMessageActivity"
            android:parentActivityName=".Messaging.SentMessages.MessagesActivity" />
        <activity android:name=".NewPost.TextPost.TextPostSubmissionActivity" />
        <activity android:name=".NewPost.ImagePost.ImagePostSubmissionActivity" />
        <activity android:name=".NewPost.VideoPost.VideoPostSubmissionActivity" />
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".Comments.CommentActivity" />
        <activity
            android:name=".SubscribersSubsrciptions.SubsActivity"
            android:parentActivityName=".MainUI.HilarityActivity" />
        <activity android:name=".NewPost.GifPost.NewGifSubmissionActivity" />
        <activity
            android:name=".SignInTutorial.AuthActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewPost.NewPostActivity2"
            android:label="@string/title_activity_new_post2"
            android:theme="@style/AppTheme" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Forums.Replies.ForumQuestionActivity" />
        <activity
            android:name=".Forums.CreateQuestion.NewQuestionActivity"
            android:parentActivityName=".MainUI.HilarityActivity" />

        <receiver
            android:name=".CloudMessaging.NotifcationMessageReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>